* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
}


header {
  background: black;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #f5c26b;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover {
  text-decoration: underline;
}


.hero {
  background:
    linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.6) 70%,
      rgba(17, 17, 17, 1) 100%
    ),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.btn {
  background: #f5c26b;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.container {
  width: 90%;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.card img {
  width: 124px;
  height: auto;
}


.section {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  line-height: 1.6;
}


.news-item {
  padding: 15px;
  border-radius: 6px;
  background: #171717;
  margin-top: 12px;
}

.news-item h3 {
  margin-bottom: 8px;
}

.news-item small {
  color: #aaa;
}


.form-box {
  max-width: 420px;
  margin: 30px auto;
  background: #1c1c1c;
  padding: 22px;
  border-radius: 8px;
}

label {
  display: block;
  margin: 12px 0 6px;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #111;
  color: white;
}

input:focus {
  outline: 1px solid #f5c26b;
  border-color: #f5c26b;
}

.btn-full {
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.helper-text {
  margin-top: 12px;
  color: #aaa;
  font-size: 14px;
}

.helper-text a {
  color: #f5c26b;
  text-decoration: none;
}

.helper-text a:hover {
  text-decoration: underline;
}
.news-item {
  padding: 15px;
  border-radius: 6px;
  background: #171717;
  margin-top: 16px;
  overflow: hidden;
}

.news-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
  display: block;
}
